.navbar {
    background-color: #1d8fd2;
}

.logo-header {
    background-color: #1d8fd2;
    padding: 16px;
    margin: 0 0 20px;
    border-radius: 4px;
}

.centered{
    margin: 20px auto;
    width: 50%;
    min-width: 360px;
    background: #fafafa;
    padding: 20px;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

.col-action {
    max-width: 100px;
}

.btn-sm {
    margin-left: 8px;
}

.content-block {
    background: #fafafa;
    margin: 20px;
    padding: 20px;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

.space-20 {
    display: block;
    height: 40px;
}

.text-label {
    font-size: 16px;
    font-weight: bolder;
}

.text-value {
    font-size: 10px;
    word-break: break-all;
}